mysql:
  image: grman/mysql:latest
  environment: 
    - MYSQL_DATABASE=benchmark
    - MYSQL_USER=benchmark
    - MYSQL_PASSWORD=password
    - MYSQL_ROOT_PASSWORD=password
  container_name: mysql
  ports:
    - 3306:3306
  volumes:
    - ./conf/my.cnf:/etc/mysql/my.cnf     
