cassandra:
  image: cassandra:latest
  #  environment:
  #    - CASSANDRA_USER=cassandra
  # - CASSANDRA_PASSWORD=password     
#    - CASSANDRA_TRANSPORT_PORT_NUMBER=7000
  container_name: cassandra
  ports:
    - 9042:9042
  volumes:
    - ./cassandra:/var/lib/cassandra
