cassandra:
  image: cassandra:latest
#  environment:
#    - CASSANDRA_USER=cassandra
#    - CASSANDRA_PASSWORD=password     
#    - CASSANDRA_TRANSPORT_PORT_NUMBER=7000
  container_name: cassandra
  ports:
    - 9042:9042
  volumes:
     - ./data:/data
  command: /bin/bash -c 'cqlsh -u 'cassandra' -p 'cassandra' -e "CREATE KEYSPACE cassandraSS WITH REPLICATION = { 'class':'SimpleStrategy', 'replication_factor':1 };"'
#  command: /bin/bash -c 'sleep 60 && cqlsh -u "cassandra" -p "cassandra" -e "CREATE KEYSPACE cassandraSS WITH REPLICATION = { "class":"SimpleStrategy", "replication_factor":1 };"'
#  command: /bin/bash -c "cqlsh -u 'cassandra' -p 'cassandra' -e "CREATE KEYSPACE cassandraSS WITH REPLICATION = { 'class':'SimpleStrategy', 'replication_factor':1 };""



 # healthcheck:
     # test: ["CMD", "cqlsh", "-u cassandra", "-p cassandra" ,"-e describe keyspaces"]
     # interval: 15s
     # timeout: 10s
     # retries: 10
     
# cassandra-load-keyspace:
  # container_name: cassandra-load-keyspace
  # image: cassandra:3.11.2
  # depends_on:
    # cassandra:
      # condition: service_healthy
# #    volumes:
# #     - ./src/main/resources/cassandra_schema.cql:/schema.cql
  # command: /bin/bash -c "cqlsh -u 'cassandra' -p 'cassandra' -e "CREATE KEYSPACE cassandraSS WITH REPLICATION = { 'class':'SimpleStrategy', 'replication_factor':1 };"    
